.ms-button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #eee;
	color: #333;
	padding: 2px 6px;
	margin: 2px;
	border: 1px solid #666;
	border-radius: 4px;
	font-size: 1em;
	display: inline-block;
}
.ms-button:hover {
	border-color: #333;
	background-color: #ccc;
}
.ms-button:active {
	border-color: #ea0;
	background-color: #fff;
}

.ms-button a {
	text-decoration: none;
}

.ms-remove {
	color: #aaa;
	padding-right: 3px;
}

.ms-choice {
	color: black;
}

.ms-optlist {
	position: fixed;
	background-color: white;
	overflow: scroll;
	width: 100%;
}

.ms-optlistlabel {
	display: block;
}
.ms-optlistcheck:checked + .ms-optlistlabel {
	background-color: #aac;
}

.ms-optlistcheck {
	display: none;
}
